/* Topnavbar code */
.top-navbar {
  width: 100%;
  height: 5vh;
  background-color: #f0f0f0;
  position: relative;
  top: 0;
  justify-content: center;
  padding-left: 10px;
  padding-right: 10px;
  color: #1f1f1f;
}

.timezone-ind {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 50px;
  position: absolute;
  top: 50%;
  right: 0;
  padding-right: 10px;
  transform: translateY(-50%);
  font-family: "Poppins-Light";
}

.ind {
  grid-area: 1 / 1 / 2 / 2;
}
.mum {
  grid-area: 1 / 2 / 2 / 3;
}
.time {
  grid-area: 1 / 3 / 2 / 4;
  font-family: "Poppins-Medium";
  color: #505050;
}

.date-con {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  font-family: "Poppins-Light";
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  top: 50%;
  transform: translateY(-50%);
  color: #1f1f1f;
}

.date-div {
  display: flex;
  justify-content: center;
  align-items: center;
  grid-area: 1 / 1 / 2 / 2;
}

/*  */
/*  */
.midnavbar {
  height: 20vh;
  overflow: hidden;
  background-color: #888;
}

.midnavbar-content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  padding-top: 0;
  font-size: 1.2rem;
}

.nav-links {
  display: flex;
  gap: 20px;
}

.text-content {
  text-decoration: none !important;
  color: #1f1f1f;
}

.midnavbar-logo-mtcl img {
  height: 20vh;
  width: auto;
}

.hamburger-menu {
  display: none;
  cursor: pointer;
}

.hamburger-menu i {
  font-size: 1.5rem;
  color: #1f1f1f;
}

.dropdown-menu {
  display: none;
  flex-direction: column;
  background-color: #888;
  position: absolute;
  top: 20vh;
  width: 100%;
  left: 0;
}

.dropdown-content {
  text-decoration: none !important;
  color: #1f1f1f;
  padding: 15px 20px;
  border-top: 1px solid #ccc;
}

.dropdown-content:hover {
  background-color: #777;
}

@media screen and (max-width: 900px) {
  .nav-links {
    display: none;
  }

  .hamburger-menu {
    display: block;
  }
}

.show {
  display: flex;
}
/*  */
/*  */
