.headingWWD {
  text-transform: uppercase;
  color: #1f1f1f;
  font-family: "Gotham-Black";
  font-size: 4.5rem;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 5vh;
}

.bowl1,
.bowl2,
.bowl3,
.bowl4,
.bowl5,
.bowl6 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  font-family: "Gotham";
}

.infotxt {
  padding: 5%;
  font-size: 1rem;
  text-align: justify;
  height: auto !important;
}

.plate {
  padding: 10vh;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 1fr;
  height: auto;
}

.bowl1 {
  grid-area: 1 / 1 / 2 / 2;
}
.bowl2 {
  grid-area: 1 / 2 / 2 / 3;
}
.bowl3 {
  grid-area: 1 / 3 / 2 / 4;
}
.bowl4 {
  grid-area: 1 / 4 / 2 / 5;
}

.window-img {
  height: 50%;
}

@media screen and (max-width: 1197px) {
  .plate {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
  }

  .bowl1 {
    grid-area: 1 / 1 / 2 / 2;
  }
  .bowl2 {
    grid-area: 1 / 2 / 2 / 3;
  }
  .bowl3 {
    grid-area: 2 / 1 / 3 / 2;
  }
  .bowl4 {
    grid-area: 2 / 2 / 3 / 3;
  }
  .window-img {
    height: 70%;
    height: 50%;
  }
}

@media screen and (max-width: 786px) {
  .plate {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
    padding: 3vh;
    padding-top: 5vh !important;
  }
  .window-img {
    width: 20vh;
  }
  .headingWWD {
    font-size: 3rem;
  }
}

@media screen and (max-width: 360px) {
  .headingWWD {
    font-size: 2rem;
  }
}
