html {
  scroll-behavior: smooth;
}

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  scroll-behavior: smooth;
  overflow-x: hidden;
  cursor: default;
}

::-webkit-scrollbar {
  width: 7px;
}

::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 10px;
}

::-webkit-scrollbar-track {
  background-color: #f5f5f5;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #555;
}

::-webkit-scrollbar-thumb:active {
  background-color: #333;
}

body {
  user-select: none;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

/* Topnavbar code */

.top-navbar {
  width: 100%;
  height: 5vh;
  background-color: #f0f0f0;
  position: relative;
  top: 0;
  justify-content: center;
  padding-left: 10px;
  padding-right: 10px;
  color: #1f1f1f;
}

.timezone-ind {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 50px;
  position: absolute;
  top: 50%;
  right: 0;
  padding-right: 10px;
  transform: translateY(-50%);
  font-family: "Poppins-Light";
}

.ind {
  grid-area: 1 / 1 / 2 / 2;
}
.mum {
  grid-area: 1 / 2 / 2 / 3;
}
.time {
  grid-area: 1 / 3 / 2 / 4;
  font-family: "Poppins-Medium";
  color: #505050;
}

.date-con {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  font-family: "Poppins-Light";
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  top: 50%;
  transform: translateY(-50%);
  color: #1f1f1f;
}

.date-div {
  display: flex;
  justify-content: center;
  align-items: center;
  grid-area: 1 / 1 / 2 / 2;
}

/* mid navbar css */
.midnav-bar {
  display: grid;
  grid-template-columns: 3fr repeat(4, 1.5fr);
  grid-template-rows: 1fr;
  justify-content: center;
  align-items: center;
  padding: 20px;
  padding-top: 0px;
}

.midnav-bar a {
  font-family: "Poppins-Regular";
  font-size: 1.2rem;
  color: #505050;
  border: 0px;
  background-color: #fff;
  text-decoration: none;
}

.CN a {
  color: #f3f3f3;
  border: 0px;
  border-radius: 5px;
  background-color: #293990;
  padding: 9px;
}

.mtcl-logo-img {
  grid-area: 1 / 1 / 2 / 2;
  display: flex;
  justify-content: center;
  align-items: center;
}

.mtcl-logo-img img {
  max-width: 100%;
  max-height: 100%;
}

.WWD {
  grid-area: 1 / 2 / 2 / 3;
}
.prd {
  grid-area: 1 / 3 / 2 / 4;
}
.DMTCL {
  grid-area: 1 / 4 / 2 / 5;
}
.CN {
  grid-area: 1 / 5 / 2 / 6;
}

.mtcl-logo-img,
.WWD,
.prd,
.DMTCL,
.TU,
.CN {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Image Carousel */
.slideshow-container {
  width: 100vw;
  height: 100vh;
  position: relative;
  margin: auto;
  overflow: hidden;
}

.mySlides img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.top,
.btm,
.css {
  height: 100vh;
}

@media only screen and (max-width: 900px) {
  .midnav-bar {
    padding: 5px;
  }
  .CN a {
    padding: 3px;
  }
  .midnav-bar a {
    font-size: 0.9rem;
  }
}
@media only screen and (max-width: 712px) {
  .timezone-ind {
    grid-column-gap: 0px;
  }
  .date-con {
    display: none;
  }
  .midnav-bar {
    padding: 5px;
    grid-template-columns: 2fr repeat(4, 2fr);
  }
  .midnav-bar a {
    font-size: 0.7rem;
    text-align: center;
  }
}
