@font-face {
  font-family: "Poppins-Black";
  src: url("/assets/font/Poppins-SemiBold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Poppins-Medium";
  src: url("/assets/font/Poppins-Medium.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Poppins-Light";
  src: url("/assets/font/Poppins-Light.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
