/* Midnavbar */
.midnavbar {
  height: 20vh;
  overflow: hidden;
  font-family: "Gotham-book";
}

.midnavbar-content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  padding-top: 0;
  font-size: 1.2rem;
  margin: 0 auto;
  text-align: center;
}

.nav-links {
  display: flex;
  gap: 20px;
}

.text-content {
  text-decoration: none !important;
  color: #1f1f1f;
}

.midnavbar-logo-mtcl img {
  height: 20vh;
  width: auto;
}

.hamburger-menu {
  display: none;
  cursor: pointer;
}

.hamburger-menu i {
  font-size: 1.5rem;
  color: #1f1f1f;
}

.dropdown-menu {
  display: flex;
  flex-direction: column;
  position: absolute;
  padding-bottom: 20px;

  top: 20vh;
  width: 100%;
  z-index: 99;
  opacity: 0;
  transform: translateX(-100%);
  background-color: #ffffff;
  transition: transform 0.5s ease, opacity 0.5s ease;
}

.dropdown-menu.hide {
  transform: translateX(-100%);
  opacity: 0;
}

.dropdown-content {
  text-decoration: none !important;
  color: #1f1f1f;
  padding: 15px 20px;
}

.CU {
  display: flex;
  justify-content: center;
  align-items: center;
  color: aliceblue;
  background-color: #293990;
  border: 0px solid;
  border-radius: 10px;
  padding: 5px;
  margin-top: -5px;
}

@media screen and (max-width: 1155px) {
  .midnavbar-logo-mtcl img {
    height: 12vh;
    max-width: 100%;
  }
  .midnavbar {
    height: 15vh;
  }
  .midnavbar-content {
    padding: 15px;
  }
}

@media screen and (max-width: 900px) {
  .nav-links {
    display: none;
  }

  .hamburger-menu {
    display: block;
  }

  .dropdown-menu.show {
    display: flex;
    opacity: 1;
    transform: translateX(0);
    margin-top: -5px;
  }
  .CU {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30vw;
    padding: 5px;
    margin-top: -5px;
    margin: 0 auto;
  }
}

@media screen and (max-width: 390px) {
  .midnavbar-content {
    padding: 10px;
  }
}

/* Animation */
@keyframes slideInMenu {
  from {
    opacity: 0;
    transform: translateX(-100%);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
